#results {
  width: 75%;
  margin: 0 auto;
}

.profile-box {
  width: 150px;
  display: inline-block;
}

.profile-pic {
  max-width: 150px;
  margin: 0 auto;
}

.profile-name {
  margin:0 auto;
  text-align: center;
}

.profile-name p {
  margin: 0 auto;
}

.match-percent {
  margin: 0 auto;
  font-size: 64px;
  font-weight: bolder;
  text-align: center;
}

.great-match {
  color: green;
}

.okay-match {
  color: yellow;
}

.bad-match {
  color: orange;
}

.poor-match {
  color: red;
}

.label {
  font-weight: bold;
  font-size: 18px;
}

#back-button {
  text-align: center;
  background-color: rgba(30,174,219,1);
  border-radius: 25px;
  margin: 15px;
  padding: 12.5px;
}

#back-button:hover {
  background-color: white;
  transition: all .5s ease;
}

#back-button a {
  vertical-align: middle;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

#back-button:hover a {
  color: rgb(30,174,219);
  transition: all .5s ease;
}

img {
  border-radius: 5px;
  margin: 0 auto;
}

#profile-data {
  margin: 0 auto;
  width: 500px;
}

#picture-box {
  width: 500px;
  margin: 0 auto;
}
