body {
	background: #888;
}

.container .register p {
	font-family: "Roboto", sans-serif;
}

.container {
	background: white;
	margin-bottom: 0;
	color: black;
}

header nav {
	background: #444;
}

header #dog {
	height: 70px;
}

header .splash-banner p {
		font-family: "Fascinate Inline", cursive;
}

header #form .splash-banner .register p:hover #back-button:hover #back-button a {
		color: white;
}

header {
	padding-top: 10px;
}

header h3 nav.four.columns ul a {
	color: #fff;
}

header h3 nav ul li {
	line-height: 40px;
}

nav img #parks-map .parkInfo #splash-main #park-info ul li input [type=checkbox] .splash-banner .matches-slides figure {
	width: 100%;
}

nav #logo .register {
	height: 50px;
}

nav ul li #logo #dog .profile-box {
	display: inline-block;
}

nav ul li {
	margin-left: 30px;
}

nav ul li footer ul .no-list-style {
	list-style-type: none;
}

nav.four.columns ul a .register a #back-button a {
	text-decoration: none;
}

nav.four.columns ul a:hover {
	color: #a1abd2;
}

.active {
	color: #b1abd2;
}

img footer h3.parkLocation #park-info ul #park-info ul li {
	margin: 0;
}

img #park-info ul #park-info ul li #splash-main {
		padding: 0;
}

img {
	height: auto;
	border-radius: 5px;
}

#logo {
	padding-left: 30px;
}

.main {
	padding: 30px;
  min-height: 500px;
}

.clickable .radioLabel #park-info h3 .register .matches-slides {
	display: block;
}

.clickable {
	width: auto;
	max-width: 100%;
	max-height: 90%;
	margin: auto;
}

footer {
	height: 75px;
}

.center .copyright .splash-banner p .profile-name .match-percent {
	text-align: center;
}

.center .register #results .profile-pic .profile-name .profile-name p .match-percent img #profile-data #picture-box {
	margin: 0 auto;
}

.grey {
	background-color: rgba(50, 50, 50, 0.3);
}

.copyright {
	padding: 10px 0;
}

#dog {
	background: url(../Assets/images/logo/dog-logo.png) 0px 0px no-repeat;
	background-size: cover;
	width: 70px;
}

label {
	margin-top: 5px;
}

h3 {
	font-size: 20px;
}

#form #profile-data #picture-box {
	width: 500px;
}

#form .headshots {
	border-style: solid;
}

#form #back-button:hover {
	background-color: white;
	border-color: #b1abd2;
}

#form {
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 0px 20px;
	border-width: 10px;
	border-radius: 15px;
}

.bulletOptions .radioBullet {
	display: inline;
}

.bulletOptions {
	font-weight: 200;
}

.radioBullet {
	margin-right: 4px;
}

.formButton input:hover submit:hover {
	background-color: #b1abd2;
}

button {
	background: #b1abd2;
	width: 100px;
	margin-left: 200px;
}

#parks-map {
	height: 550px;
}

.parkInfo {
	height: 35%;
	margin: 10px;
}

h3.parkLocation #park-info h2 {
	font-size: 1.5em;
}

h3.parkLocation #park-info h3 {
	font-weight: 300;
}

button {
	background: #b1abd2;
	width: 100px;
	margin-left: 200px;
}

input:hover {
	background-color: #b1abd2;
}




/* accordian on park page */


#park-info.transition, #park-info p, #park-info ul li i:before, #park-info ul li i:after {
  transition: all 0.25s ease-in-out;
}

#park-info.flipIn, #park-info h2, #park-info ul li {
  animation: flipdown 0.5s ease both;
}

#park-info.no-select, #park-info h3 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.matches-next .bss-prev #park-info.no-select #park-info h3 {
	  user-select: none;
}

#park-info h2 #park-info h3 {
	line-height: 1.5em;
	letter-spacing: normal;
}

#park-info h2 {
  text-transform: uppercase;
  font-weight: 100;
	margin: 5px 0px;
}

#park-info h3 #park-info ul li input[type=checkbox] .matches-next:hover .matches-prev:hover {
	  cursor: pointer;
}

#park-info h3 {
  font-size: 1em;
  background-color: #fefffa;
  margin: 5px 10px;
}

#park-info p #park-info ul li .matches-slides .matches-slides figure: first-child {
  position: relative;
}

#park-info p .matches-slides {
  overflow: hidden;
}

#park-info p .matches-slides .matches-show img .matches-show figcaption .matches-next:hover .matches-prev:hover {
  opacity: 1;
}

#park-info p .matches-slides .matches-show figcaption {
	z-index: 2;
}

#park-info p {
  color: rgba(48, 69, 92, 0.8);
  font-size: .9em;
	margin: 5px 15px;
  line-height: 1.25em;
  max-height: 800px;
  transform: translate(0, 0);
}

#park-info ul {
  list-style: none;
  perspective: 900;
}

#park-info ul li {
  border-top: 1px dotted #dce7eb;
}

#park-info ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}

#park-info ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}

#park-info ul li:nth-of-type(3) {
  animation-delay: 1s;
}

#park-info ul li:last-of-type {
  padding-bottom: 0;
}

#park-info ul li i #park-info ul li i:before #park-info ul li i:after #park-info ul li input [type=checkbox] .matches-slides figure .matches-slides figcaption .matches-next, .bss-prev {
  position: absolute;
}

#park-info ul li i .matches-next {
	right: 0;
}

#park-info ul li i {
  transform: translate(-6px, 0);
	padding: 5px;
	margin-left: 5px;
}

#park-info ul li i:before, #park-info ul li i:after {
  content: "";
  background-color: #ff6873;
  width: 3px;
  height: 9px;
}

#park-info ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}

#park-info ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}

#parks-info ul li input[type=checkbox] .matches-next .bss-prev {
  z-index: 1;
}

#park-info ul li input[type=checkbox] {
  height: 100%;
}

#park-info ul li input[type=checkbox] #park-info ul li input[type=checkbox]:checked ~ p .matches-slides figure img .matches-slides figcaption {
	opacity: 0;
}

#park-info ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  transform: translate(0, 50%);
}

#park-info ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}

#park-info ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

#park-info @keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

#splash-main {
	box-sizing: border-box;
	background-image: url("../Assets/images/marketing-assets/splash1_resized.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.splash-banner p {
	font-size: 32px;
	text-shadow: 2px 2px #000000;
}

.register #back-button {
	border-radius: 25px;
}

.register {
	width: 300px;
	margin-top: 200px;
	margin-bottom: 50px;
	background-color: rgba(255,255,255,.5);
}

.register:hover .register p:hover #back-button:hover #back-button:hover a {
	transition: all .5s ease;
}

.register:hover #back-button {
	background-color: rgba(30,174,219,1);
}


.register p {
	color: #1EAEDB;
	text-shadow: 0px 0px;
}

.matches-slides figure {
	top: 0;
}

.matches-slides figure img {
	transition: opacity 1.2s;
}

.matches-slides figcaption {
	bottom: .75em;
	right: .35em;
	transition: opacity 1.2s;
}

.matches-next, .bss-prev {
	top: 50%;
	opacity: .5;
}

.matches-prev{
	left: 0;
}

.headshots {
	height: 200px;
	width: 200px;
	border-width: 5px;
	border-radius: 50%;
}

#results {
  width: 75%;
}

.profile-box {
  width: 150px;
}

.profile-pic {
  max-width: 150px;
}

.match-percent {
  font-size: 64px;
  font-weight: bolder;
}

.great-match {
  color: green;
}

.okay-match {
  color: yellow;
}

.bad-match {
  color: orange;
}

.poor-match {
  color: red;
}

.label {
  font-weight: bold;
  font-size: 18px;
}

#back-button {
  margin: 15px;
  padding: 12.5px;
}

#back-button a {
  vertical-align: middle;
  font-size: 25px;
}

#back-button:hover a {
  color: rgb(30,174,219);
}
