/********* Layout **********/



body {
	background: #888;
}

.container {
	background: white;
	margin-bottom: 0;
	font-family: 'Roboto', sans-serif;
	color: black;
}
header {
	background: #444;
	padding-top: 10px;
	height: 70px;
	font-family: 'Fascinate Inline', cursive;
	color: white;
}
header h3 {
	color: #fff;
	line-height: 40px;
}
nav {
	width: 100%;
	background: #444;
	height: 50px;

}
nav ul li {
	display: inline-block;
	margin-left: 30px;
	line-height: 40px;
	list-style-type: none;
}
nav.four.columns ul a {
	color: #fff;
	text-decoration: none;
}
nav.four.columns ul a:hover {
	color: #a1abd2;
}
.active {
	color: #b1abd2;
}
img {
	max-width: 100%;
	height: auto;
	margin: 0; padding: 0;
}
#logo {
	height: 50px;
	padding-left: 30px;
	display: inline-block;
}
nav {

}
.main {
	padding: 30px;
  min-height: 500px;
}
.clickable {
	width: auto;
	max-width: 100%;
	max-height: 90%;
	display: block;
	margin: auto;
}
footer {
	margin: 0;
	height: 75px;
}
.center {
	text-align: center;
	margin: 0 auto;
}
.grey {
	background-color: rgba(50, 50, 50, 0.3);
}
.copyright {
	text-align: center;
	padding: 10px 0;
}
footer ul {
	list-style-type: none;
}

/****** Keyframes - Dog ********/

#dog {
	background: url(../Assets/images/logo/dog-logo.png) 0px 0px no-repeat;
	background-size: cover;
	height: 70px;
	width: 70px;
	display: inline-block;
}

/* Form styles */

label {
	margin-top: 5px;
}

h3 {
	font-size: 20px;
}

#form {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	padding: 20px 20px 0px 20px;
	background-color: white;
	border-width: 10px;
	border-color: #b1abd2;
	border-radius: 15px;
}

.radioLabel {
	display: block;
}

.bulletOptions {
	display: inline;
	font-weight: 200;
}

.radioBullet {
	display: inline;
	margin-right: 4px;
}

/*.formButton {
	background-color: #b1abd2;
}*/

input:hover {
	background-color: #b1abd2;
}

submit:hover {
	background-color: #b1abd2
}

button {
	background: #b1abd2;
	width: 100px;
	margin-left: 200px;
}

/** google maps **/
#parks-map {
	height: 550px;
	width: 100%;
}
.parkInfo {
	height: 35%;
	width: 100%;
	margin: 10px;
}
h3.parkLocation {
	font-size: 1.5em;
	font-weight: 300;
	margin: 0;
}
.no-list-style {
	list-style-type: none;
}
/* accordian on park page */

#park-info.transition, #park-info p, #park-info ul li i:before, #park-info ul li i:after {
  transition: all 0.25s ease-in-out;
}

#park-info.flipIn, #park-info h2, #park-info ul li {
  animation: flipdown 0.5s ease both;
}

.#park-info.no-select, #park-info h3 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#park-info h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1.5em;
	letter-spacing: normal;
  font-weight: 100;
	margin: 5px 0px;
}

#park-info h3 {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 300;
	letter-spacing: normal;
  display: block;
  background-color: #fefffa;
  margin: 5px 10px;
  cursor: pointer;
}

#park-info p {
  color: rgba(48, 69, 92, 0.8);
  font-size: .9em;
	margin: 5px 15px;
  line-height:1.25em;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  z-index: 2;
}

#park-info ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
#park-info ul li {
  position: relative;
  padding: 0;
  margin: 0;
  border-top: 1px dotted #dce7eb;
}
#park-info ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
#park-info ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
#park-info ul li:nth-of-type(3) {
  animation-delay: 1s;
}
#park-info ul li:last-of-type {
  padding-bottom: 0;
}
#park-info ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  right: 0;
	padding: 5px;
	margin-left: 5px;
}
#park-info ul li i:before, #park-info ul li i:after {
  content: "";
  position: absolute;
  background-color: #ff6873;
  width: 3px;
  height: 9px;
}
#park-info ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
#park-info ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
#park-info ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
#park-info ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
#park-info ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
#park-info ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

#park-info @keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

#splash-main {
	box-sizing: border-box;
	width: 100%;
	background-image: url("../Assets/images/marketing-assets/splash1_resized.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	padding: 0;
}

.splash-banner {
	width: 100%;
	/*margin-top: 300px;*/
	color: white;
}

.splash-banner p {
	font-family: "Fascinate Inline";
	font-size: 32px;
	text-align: center;
	text-shadow: 2px 2px #000000;
}

.register {
	width: 300px;
	height: 50px;
	border-radius: 25px;
	margin: 0 auto;
	display: block;
	margin-top: 200px;
	margin-bottom: 50px;
	background-color: rgba(255,255,255, .5);
}

.register p {
	color: #1EAEDB;
	font-family: "Roboto";
	text-shadow: 0px 0px;
}

.register a {
	text-decoration: none
}

/** SLIDER **/

.matches-slides {
	position: relative;
	display: block;
	overflow: hidden;
}

.matches-slides figure {
	position: absolute;
	top: 0;
	width: 100%;
}

.matches-slides figure: first-child {
	position: relative;
}

.matches-slides figure img {
	opacity: 0;
	transition: opacity 1.2s;
}

.matches-slides, .matches-show img {
	opacity: 1;
}

.matches-slides figcaption {
	position: absolute;
	bottom: .75em;
	right: .35em;
	opacity: 0;
	transition: opacity 1.2s;
}

.matches-slides, .matches-show figcaption {
	z-index: 2;
	opacity: 1;
}

.matches-next, .bss-prev {
	position: abolsute;
	top: 50%;
	z-index: 1;
	opacity: .5;
	user-select: none;
}

.matches-next:hover, .matches-prev:hover {
	cursor: pointer;
	opacity: 1;
}

.matches-next {
	right: 0;
}

matches-prev{
	left: 0;
}
/*END OF SLIDER*/
