#autour-one {
  font-family: "Autour One";
}

#chango {
  font-family: "Chango";
}

#erica-one {
  font-family: "Erica One";
}

#finger-paint {
  font-family: "Finger Paint";
}

#frijole {
  font-family: "Frijole";
}

#galindo {
  font-family: "Galindo";
}

#henny-penny {
  font-family: "Henny Penny";
}

#margarine {
  font-family:  "Margarine";
}

#modak {
  font-family: "Modak";
}

#ranchers {
  font-family: "Ranchers";
}

#slackey {
  font-family: "Slackey";
}

#belgrano {
  font-family: "Belgrano";
}
#copse {
  font-family: "Copse";
}
#coustard {
  font-family: "Coustard";
}
#della-respiral {
  font-family: "Della Respiral";
}
#fenix {
  font-family: "Fenix";
}
#im-fe-dw-pica {
  font-family: "IM-Fell-DW-Pica";
}
#inika {
  font-family: "Inika";
}
#kreon {
  font-family: "Kreon";
}
#podkova {
  font-family: "Podkova";
}
#suez-one {
  font-family: "Suez-one";
}
